{% extends 'Base.html' %} {% load static %} {% block content %}

<div class="row">
  <div class="col-sm-6 d-flex">
    <div class="col-md-4">
      <img src="/static/images/DoctorT.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="card text-end ">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <!-- <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div> -->
</div>

{%endblock %}
